# excel basics

 1. Explain the difference between Relative , Absolute and Mixed Cell Referencing.
      - ralative referencing is the default where cell addresses change when a formula is copied to other cells, while absolute referancing uses doller sings (\$) to fix a cell address so it does not change when copied, and mixed referencing fixes either the row or the column but not both.

  2. Write a formula to calculate the total sales of Car and Bicyle only only.
        - =sum(B2,B3)  (assuming "car" price is in cell B2 and "price is in cell B3).

   3. Using the data below, write a formula to calculate the average sales of items priced above 100 but less than 300 :
        - The average sales of items priced above 100 but less than 300 is 1350. (A possible formula in a spreadsheet program, assuming the sales data for ltem B and ltem C is in cells C3 and C4 respectively, is =(C3+C4)/2 or = average(C3:C4) ).
    4. Count how many customer names are recorded.
       - step 1: Write a formula to count how many customeer name are recoeded

       =COUNTA(Customer Name column rang )

       The data show customer name recorded in cell B2through B51. Counting these entries gives a total of 50 customer names.
    5. Calculate the Total Sales for each row using a formula.
  - Step 1: to calculate the total sales for each row ,multiply the ouantity by the UnitPrice. The formula to be used in cell H2 ( and then copied down for other rows) is:


                        =E2*F2
       Step 2:Apply the formula to the first row

       in cell H2, enter the formula  =E2*F2 to get the total sales for the first customer.

                       10*50=500

       the formula to calculate the total sales for each row is =E2*F2 (for row 2, adjusted for subsequent rows ). The calculated values for total sales would be:
                   =E2*F2 10*50=500.
      6.Calculate the total sales of Notebooks in the North region only.
       -The problem in the asks to calculate the totle sales for a specific product and region using the provided Excle data. This requires the SUMIFS function, which can sum values based on muoltiple conditions (criteria).
       The formula should be placed in an empty cell, for example,H2.
       step 1:Understand the data structure

       The relevant columns are:
       - Region:Column C (Cell C3 to C52)
       - Product: Column D (Cell D2 to D52)
       - Quantity:Column E(Cell E2 to E52)
       - Unit Price: Column F (Cell F2 to F52)
       
       Step 2: calucutate individual sales amounts
       The problem asks for "totel sales". The data has "Quanntity "and "Unit price". We must firt calculate the sales amount for each row by multiplying quantity by Unit price .A new column (Column G in the imange )can be added for the dragged down for all rows.
       
       Step 3:Apply the SUMIFS function

       the sumifs function syntax is sumifs(sum_rang,criteria_rang1,criteria1,criteria_rang2,criteria2...)The ranges must have the same number of rows and column.

       The formula to use, assuming column G contains the calculated sales amount (G2:G52),is:
       =SUMIFS(G2:G52,C2:C52,"North",D2:D52,"Notebook")

       - G2:G51 is the range to sum (sales amounts).
       - C2:C52 is the fist critria rang (Region).
       - "North" is the critria for the first range.
       -D2:D52 is the second critria rang (Product).
       - "Notebook" is the critria for the second rang (Note:use "Notebook" instead of "Notebook" to avoid issues with trailing spacaes).

       The totel sales of Notebook in the North region only is 2900.

       7.Create a column chart showing total sales by product.
       - A few simple steps in Microsoft Excel. This process will summarize sales for each product, which is ideal for a cloumn charth comparison.

       Step to create the chart

       step1: Ornganize and select your data

       First, ensure your data is organized with clear headers for "Product" and "Totel sales" (or calculate total sales for each product first, perhaps using a pivottable for large datasets).
       - select the 'Product' names and their corresponding 'total sales' values.

       Step 2:Insert the column chart
       Navigate to the 'Insert' tab on the Excel ribbon.
       - In the 'Charts' group, click the 'Column' symbol (the icon with vertical bars).
      - Select a 'clustered column' chart type from the dropdown menu.
      
      Step3: Customize the chart
      The chart will be generated. Customize the chart title to "total sles by product"and appropeiate axis labels (e.g.,"Product" for the horizontal axis and "Total sales" for the vertical axis) for clarity and better data analysis.

      the column name product notebook totel sales  =Quanaty 650*unitprice151=98150
      - pen=100*218=21800
      - Marker=225*146=32850
      - Pencil=45*247=11115
      - eraser=72*241=17352
     
      8.Insert a line chart showing daily sales trend.
      - ![image.png]()